<div class = "paddingDiv">
{{#if user.searchs}}
	<h2>Saved Searches</h2>
	{{#each user.searchs}}
	<p>
		<form class = "SearchLetters" action="/search" method = "post">
		<input class="search" name="search" type="hidden" value="{{this}}"></input>
		<input class="submit" name="submit" type="submit" value="{{this}}"></input>
		</form>
		<form class="" action="/savedSearches/removeSearch" method="post">
		<input type="hidden" name="search" value="{{this}}">
		<button type="submit">X</button>
	</form>
	</p>
	{{/each}}
{{/if}}
</div>

<!-- {{#if user.tags}}
  <h2>Current Tags</h2>
  {{#each user.tags}}
    <form class="" action="/tags/remove" method="post">
      {{this}}
      <input type="hidden" name="tag" value="{{this}}">
      <button type="submit">Delete</button>
    </form>
  {{/each}}
{{/if}} -->
