<div class = "paddingDiv">
  <p><strong>{{welcome}}<strong></p>
  <img src="{{user.profile_picture}}" height="210" width="210"/>
  <h2>User Info</h2>
  <form class = "formClass" action="/userProfile" method="post">
    <input type="hidden" name="_id" value="{{user._id}}">
    <!-- <input type="hidden" name="website" value="{{user.website}}">
    <input type="hidden" name="profile_picture" value="{{user.profile_picture}}">
    <input type="hidden" name="searchs" value="{{user.searchs}}"> -->
    Full Name: <input type="text" name="full_name" value="{{user.full_name}}">
    <br>Username: <input type="text" name="username" value="{{user.username}}">
    <!-- Last: <input type="text" name="lname" value="" placeholder="Last Name"><br> -->
    <br>Bio:<br> <textarea rows="8" cols="60" type="text" name="bio" value="{{user.bio}}">{{user.bio}}</textarea><br><br>
   <input type="submit" value="Submit">
  <form>
  {{#if success}}
  <p>
    {{success}}
  </p>
  {{/if}}
</div>
